/********************  global **********************/

body *{
  text-shadow : none !important;
}
H1 , H2 {
  font-size : 14pt !important;
}

H3, H4{
  font-size : 13pt !important;
}

H4,H5{
  margin-top:2pt;
  margin-bottom:2pt;
}

.inline{
  font-size : 12pt !important;
  color: black;
}

a, span {
  font-size : 10pt !important;

}

p{
  font-size : 12pt !important;
  color: black;
}


/**********************   Header ************************/
#header {
/*  background: #f2f2f2 !important;*/
  color: #242c4c !important;

}

#header * {
/*  background: #f2f2f2 !important;*/
  color: #242c4c !important;
}


.logoContainer {
  height: 60px;
}

.logoContainer a {
  height : 100%;
  width : 100%;
}

.logoContainer img {
  height : 100%;
  width : auto;
}

#uselessNav{
  width : 0px;
}

#header-title{
  text-align :center;
}



/**********************   Navbar ************************/
#navBar{
  background: #3a3737 !important;
}

#navBar *{
  background: #3a3737 !important;
  color: #f3f6f6 /*!important;*/
}

/**********************   Content ************************/
.page{
  background: #f3f6f6 !important;
  text-shadow : none !important;
  text-decoration : none !important;
}

.content h1,h2,h3,h4{
  color: #36487f !important;
}

.ui-li-divider{
  background: #3a3737 !important;
  color: #f3f6f6 !important;
}

.ui-listview>li>a.ui-btn {
  text-align: center;
}


/********************** Specific Content ************************/
.research{
    background: #f3f6e6 !important;
}
.researchInverse{
    color: #f3f6e6 !important;
}
.poster{
    background: #E5ECF5 !important;
}
.posterInverse{
    color: #E5ECF5 !important;
}
.demo{
    background: #e3f6c6 !important;
}
.demoInverse{
    color: #e3f6c6 !important;
}
.tutorial{
    background: #f3e6e6 !important;
}
.tutorialInverse{
    color: #f3e6e6 !important;
}
.workshop{
    background: #e3f6e6 !important;
}
.workshopInverse{
    color: #e3f6e6 !important;
}
.inUse{
    background: #e3e6f6 !important;
}
.inUseInverse{
    color: #e3e6c6 !important;
}
.keynote{
/*    background: #e3e6e6 !important;*/
    background: #FFF3D6 !important;
}
.keynoteInverse{
    color: #FFF3D6 !important;
}

/********************** ICS button ************************/
.ics-button{
    position: absolute;
    top: 5px;
    right: 5px;
    text-overflow: ellipsis;
    max-width: 30%;
}

/**********************   Footer ************************/
#footer{
  background: #3a3737 !important;
/*    background: #f2f2f2 !important;*/
}

#footer *{
  background: #3a3737 !important;
  color: #f3f6f6;
/*    color: #000000 !important;*/
}

.button *{
}

.content .ui-btn{
    background: none !important;
    /*  background: #f2f2f2 !important;
      color: #000 !important;
    */
      border: 1px solid #36487f !important;
    color: #242c4c !important;
    border: 1px solid #36487f;
}

/*Special buttons*/
a .swtich{
  background : #9fc3db!important;
}

/* Schedule */

#getConferenceSchedule .ui-btn-inner{
  padding-top : 0!important;
  padding-bottom : 0!important;

}

#getConferenceSchedule H2 {
  padding-left:0.5em;
  line-height:1.5em;
}
#getConferenceSchedule H2 span{
  font-size : 10pt !important;
}
#getConferenceSchedule p.ui-li-desc{
  font-size : 11pt !important;
  margin-top : 0em!important;
  margin-bottom : 0em!important;
}

#getConferenceSchedule H3.ui-li-heading{
  white-space : normal;
  overflow : visible;
  text-overflow : visible;
  font-size : 11pt !important;
  margin-top : 0em!important;
  margin-bottom : 0em!important;
}


/********************* Panel *******************/
#settingsPanel {
  width: 200px;
  border: 1px solid #000;
  border-right: none;
  background: rgba(0,0,0,.5);
  margin: -1px 0;
  color: rgb(250, 252, 253);
}

#bonusPanel {
  width: unset;
  border: 1px solid #000;
  border-right: none;
  background: rgba(0,0,0,.5);
  margin: -1px 0;
  color:  rgb(250, 252, 253);
  text-align: center;
}